.screenshot-2023-05-30-at-941 {
  position: absolute;
  top: 755px;
  left: 603px;
  width: 1604px;
  height: 938px;
  object-fit: cover;
}
.screenshot-2023-05-29-at-645,
.screenshot-2023-05-30-at-946 {
  position: absolute;
  top: 843px;
  left: 2941px;
  width: 1604px;
  height: 936px;
  object-fit: cover;
}
.screenshot-2023-05-29-at-645 {
  top: 3366px;
  left: 801px;
  width: 1546px;
  height: 525px;
}
.cba0e0f2234c3d279fc329fc04e2-1-icon {
  position: absolute;
  top: 4248px;
  left: 4069px;
  width: 1497px;
  height: 2245px;
  object-fit: cover;
}
.aa,
.aa1,
.aa2 {
  position: absolute;
  top: 5015px;
  left: 6043px;
}
.aa1,
.aa2 {
  top: 5312px;
  font-weight: 500;
}
.aa2 {
  top: 5609px;
  font-weight: 300;
}
.aa3,
.aa4,
.aa5 {
  position: absolute;
  top: 4928px;
  left: 6656px;
  font-family: var(--font-open-sans);
}
.aa4,
.aa5 {
  top: 5237px;
}
.aa5 {
  top: 5535px;
  font-weight: 300;
}
.homes,
.style {
  position: absolute;
  left: 7501px;
}
.style {
  top: 4953px;
  font-family: var(--font-anton);
}
.homes {
  top: 5332px;
  font-size: var(--font-size-181xl);
  font-weight: 300;
}
.style1 {
  top: 4953px;
  left: 8539px;
  font-family: var(--font-anton);
}
.homes1,
.style1,
.style2 {
  position: absolute;
}
.homes1 {
  top: 5280px;
  left: 8539px;
  font-size: var(--font-size-181xl);
  font-family: var(--font-open-sans);
}
.style2 {
  top: 4567px;
  left: 6201px;
  font-family: var(--font-anton);
}
.brief-child,
.brief-item {
  position: absolute;
  top: 4875px;
  left: 7378px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 829px;
  height: 760px;
}
.brief-item {
  left: 8445px;
}
.homes2,
.style3 {
  position: absolute;
  top: 5870px;
  left: 8539px;
  font-family: var(--font-anton);
}
.homes2 {
  top: 6211px;
  font-size: var(--font-size-181xl);
  font-family: var(--font-economica);
}
.brief-inner {
  position: absolute;
  top: 5792px;
  left: 8445px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 829px;
  height: 760px;
}
.icon10,
.icon6,
.icon7,
.icon8,
.icon9 {
  position: absolute;
  top: 3857px;
  left: 538px;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.icon10,
.icon7,
.icon8,
.icon9 {
  top: 4236px;
}
.icon10,
.icon8,
.icon9 {
  top: 4776px;
}
.icon10,
.icon9 {
  top: 5255px;
}
.icon10 {
  top: 5729px;
}
.brief {
  position: relative;
  background-color: transparent;
  border: 4px solid var(--white);
  box-sizing: border-box;
  width: 100%;
  height: 7162px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-221xl);
  color: var(--white);
  font-family: var(--font-josefin-sans);
}
