.manila-villa-project-in-the-ph-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1794px;
  height: 1177px;
  object-fit: cover;
}
.macbook-pro-16-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  backdrop-filter: blur(2px);
  width: 1728px;
  height: 1177px;
}
.icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 515px;
  height: 290px;
  object-fit: cover;
}
.product-supply5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 119px;
  left: 803px;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-josefin-sans);
  color: var(--color-whitesmoke);
  text-align: left;
  display: inline-block;
}
.you-dream1 {
  color: var(--color-peru-100);
}
.at-factory-prices1,
.we-build-what-container1 {
  position: absolute;
  color: var(--color-whitesmoke);
}
.we-build-what-container1 {
  top: 490px;
  left: 377px;
  font-size: var(--font-size-45xl);
  line-height: 90px;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.at-factory-prices1 {
  top: 539px;
  left: 1115px;
  font-size: var(--font-size-10xl-1);
  line-height: 93.55px;
  text-shadow: 0 0 4.16px rgba(0, 0, 0, 0.25);
}
.recent-projects,
.what-clients-say {
  position: absolute;
  top: 3759px;
  left: 647px;
  font-size: var(--font-size-45xl);
  line-height: 90px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.what-clients-say {
  top: 4714px;
  left: 621px;
}
.about-us10,
.our-projects5,
.project-solution5 {
  position: absolute;
  top: 119px;
  left: 1011px;
  color: var(--color-whitesmoke);
  text-align: left;
  cursor: pointer;
}
.about-us10,
.our-projects5 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 1225px;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-josefin-sans);
  display: inline-block;
}
.about-us10 {
  left: 1405px;
}
.mask-group-child {
  position: absolute;
  top: -11.12px;
  left: -7.33px;
  background-color: var(--color-whitesmoke);
  width: 46.51px;
  height: 47.52px;
}
.mask-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 119px;
  left: 1546px;
  width: 23px;
  height: 23px;
}
.macbook-pro-16-1-item {
  position: absolute;
  top: 619px;
  left: 743px;
  border-radius: var(--br-11xl);
  background-color: var(--color-peru-200);
  border: 3px solid var(--color-peru-100);
  box-sizing: border-box;
  width: 242px;
  height: 69px;
}
.shop-now1 {
  position: absolute;
  top: 646px;
  left: 794px;
  display: inline-block;
  color: var(--color-whitesmoke);
  text-align: left;
  width: 141px;
  height: 15px;
}
.macbook-pro-16-1-inner {
  position: absolute;
  top: 1346px;
  left: 105px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray);
  width: 454px;
  height: 637px;
}
.macbook-pro-16-1-child1 {
  position: absolute;
  top: 3938px;
  left: 96px;
  background-color: var(--color-antiquewhite-200);
  width: 1556px;
  height: 593px;
}
.macbook-pro-16-1-child2,
.macbook-pro-16-1-child3,
.macbook-pro-16-1-child4,
.macbook-pro-16-1-child5 {
  position: absolute;
  top: 1346px;
  left: 1169px;
  border-radius: var(--br-11xl);
  background-color: var(--color-peru-100);
  width: 454px;
  height: 637px;
}
.macbook-pro-16-1-child3,
.macbook-pro-16-1-child4,
.macbook-pro-16-1-child5 {
  left: 637px;
  background-color: var(--color-antiquewhite-100);
}
.macbook-pro-16-1-child4,
.macbook-pro-16-1-child5 {
  top: 4893px;
  left: 126px;
  height: 323px;
}
.macbook-pro-16-1-child5 {
  left: 1168px;
}
.p,
.verified-buyer {
  margin: 0;
}
.p {
  font-size: var(--font-size-sm);
}
.verified-buyer-180223-container {
  position: absolute;
  top: 4960px;
  left: 1314px;
  line-height: 18px;
  display: inline-block;
  text-align: left;
  width: 232px;
  font-size: var(--font-size-base);
}
.macbook-pro-16-1-child6 {
  position: absolute;
  top: 4893px;
  left: 647px;
  border-radius: var(--br-11xl);
  background-color: var(--color-antiquewhite-100);
  width: 454px;
  height: 323px;
}
.macbook-pro-16-1-child7 {
  position: absolute;
  top: 2152px;
  left: -15px;
  background-color: var(--color-antiquewhite-300);
  width: 1791px;
  height: 480px;
}
.macbook-pro-16-1-child10,
.macbook-pro-16-1-child8,
.macbook-pro-16-1-child9 {
  position: absolute;
  top: 2231px;
  left: 583px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 208px;
  height: 208px;
}
.macbook-pro-16-1-child10,
.macbook-pro-16-1-child9 {
  left: 1293px;
}
.macbook-pro-16-1-child10 {
  left: 938px;
}
.manufacturers-from-across-container,
.straight-from-manufacurers-container {
  position: absolute;
  top: 2465px;
  left: 927px;
  line-height: 27px;
}
.straight-from-manufacurers-container {
  left: 609px;
}
.best-quality-guaranteed-container,
.delivery-on-time {
  position: absolute;
  top: 2465px;
  left: 264px;
  line-height: 27px;
}
.delivery-on-time {
  left: 1350px;
}
.loren-ipsum,
.verified-buyer-180223-container1 {
  position: absolute;
  top: 4930px;
  left: 272px;
  line-height: 27px;
  display: inline-block;
  text-align: left;
  width: 232px;
}
.verified-buyer-180223-container1 {
  top: 4960px;
  line-height: 18px;
  font-size: var(--font-size-base);
}
.loren-ipsum1,
.verified-buyer-180223-container2 {
  position: absolute;
  top: 4930px;
  left: 793px;
  line-height: 27px;
  display: inline-block;
  text-align: left;
  width: 232px;
}
.verified-buyer-180223-container2 {
  top: 4960px;
  line-height: 18px;
  font-size: var(--font-size-base);
}
.macbook-pro-16-1-child11 {
  position: absolute;
  top: 2231px;
  left: 228px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 208px;
  height: 208px;
}
.macbook-pro-16-1-child12,
.macbook-pro-16-1-child13,
.macbook-pro-16-1-child14,
.macbook-pro-16-1-child15 {
  position: absolute;
  top: 2240px;
  left: 237px;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 190px;
  height: 190px;
}
.macbook-pro-16-1-child13,
.macbook-pro-16-1-child14,
.macbook-pro-16-1-child15 {
  left: 947px;
}
.macbook-pro-16-1-child14,
.macbook-pro-16-1-child15 {
  left: 1302px;
}
.macbook-pro-16-1-child15 {
  left: 592px;
}
.ff966f8452b8bdc1035c42e2eb5a1d-icon {
  position: absolute;
  top: 3938px;
  left: 1252px;
  width: 400px;
  height: 593px;
  object-fit: cover;
}
.ff966f8452b8bdc1035c42e2eb5a1d-icon1,
.ff966f8452b8bdc1035c42e2eb5a1d-icon2 {
  position: absolute;
  top: 3938px;
  left: 497px;
  width: 400px;
  height: 593px;
  object-fit: cover;
}
.ff966f8452b8bdc1035c42e2eb5a1d-icon2 {
  left: 82px;
  width: 424px;
}
.c992440fa5c868ccbc217505bde98a-icon,
.macbook-pro-16-1-child16 {
  position: absolute;
  top: 3938px;
  left: 888px;
  width: 364px;
  height: 593px;
}
.c992440fa5c868ccbc217505bde98a-icon {
  object-fit: cover;
}
.macbook-pro-16-1-child16 {
  background-color: var(--color-chocolate);
}
.project-name {
  position: absolute;
  top: 4190px;
  left: 970px;
  font-size: var(--font-size-13xl);
  line-height: 90px;
  color: var(--color-whitesmoke);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.macbook-pro-16-1-child17,
.macbook-pro-16-1-child18 {
  position: absolute;
  top: 3856.5px;
  left: 653.5px;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.macbook-pro-16-1-child18 {
  left: 903.5px;
  width: 205px;
}
.macbook-pro-16-1-child19 {
  position: absolute;
  top: 3849px;
  left: 874px;
  background-color: var(--color-peru-100);
  width: 15px;
  height: 15px;
}
.shop-by-category {
  position: absolute;
  top: 2784px;
  left: 606px;
  font-size: var(--font-size-45xl);
  line-height: 90px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.macbook-pro-16-1-child20,
.macbook-pro-16-1-child21 {
  position: absolute;
  top: 2881.5px;
  left: 633.5px;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 226px;
  height: 1px;
}
.macbook-pro-16-1-child21 {
  left: 903.5px;
}
.macbook-pro-16-1-child22 {
  position: absolute;
  top: 2874px;
  left: 874px;
  background-color: var(--color-peru-100);
  width: 15px;
  height: 15px;
}
.macbook-pro-16-1-child23,
.macbook-pro-16-1-child24 {
  position: absolute;
  top: 4803.5px;
  left: 646.5px;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 209px;
  height: 1px;
}
.macbook-pro-16-1-child24 {
  left: 896.5px;
  width: 205px;
}
.macbook-pro-16-1-child25,
.macbook-pro-16-1-child26,
.macbook-pro-16-1-child27 {
  position: absolute;
  top: 4796px;
  left: 867px;
  background-color: var(--color-peru-100);
  width: 15px;
  height: 15px;
}
.macbook-pro-16-1-child26,
.macbook-pro-16-1-child27 {
  top: 4202px;
  left: 50px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.macbook-pro-16-1-child27 {
  left: 1620px;
}
.mask-group-icon15,
.mask-group-icon16 {
  position: absolute;
  top: 4226px;
  left: 73px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.mask-group-icon16 {
  left: 1643px;
}
.frame-icon {
  position: absolute;
  top: 2269px;
  left: 621px;
  width: 132px;
  height: 132px;
  overflow: hidden;
}
.iconmapsplace-24px-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.01%;
  bottom: 0;
  left: 0.01%;
  border-radius: 50%;
  border: 1.1px solid var(--white);
  box-sizing: border-box;
}
.div18 {
  position: absolute;
  height: 50%;
  width: 38.89%;
  top: 25%;
  left: 27.79%;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
}
.furniture8,
.iconmapsplace-24px8 {
  position: relative;
  width: 14.89px;
  height: 14.89px;
  opacity: 0.85;
}
.furniture8 {
  font-size: 12.41px;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
  width: 74.47px;
  height: 9.1px;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.iconmapsplace-24px-parent6 {
  position: absolute;
  width: 6.7%;
  top: calc(50% + 3073.86px);
  right: 22%;
  left: 71.3%;
  border-radius: 29.79px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 8.274949073791504px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.93px;
  text-align: left;
  font-size: 9.93px;
  color: var(--white);
}
.unsplashp7wkt87nang-icon,
.unsplashp7wkt87nang-icon1,
.unsplashp7wkt87nang-icon2 {
  position: absolute;
  top: 4916px;
  left: 165px;
  border-radius: var(--br-46xl-4);
  width: 86px;
  height: 87px;
  object-fit: cover;
}
.unsplashp7wkt87nang-icon1,
.unsplashp7wkt87nang-icon2 {
  top: 4922px;
  left: 686px;
}
.unsplashp7wkt87nang-icon2 {
  left: 1207px;
}
.loren-ipsum2 {
  position: absolute;
  top: 4930px;
  left: 1314px;
  line-height: 27px;
  display: inline-block;
  text-align: left;
  width: 232px;
}
.lorem-ipsum-dolor-container,
.lorem-ipsum-dolor-container1,
.lorem-ipsum-dolor-container2 {
  position: absolute;
  top: 5036px;
  left: 161px;
  font-size: var(--font-size-base);
  line-height: 18px;
  text-align: left;
  display: inline-block;
  width: 384px;
}
.lorem-ipsum-dolor-container1,
.lorem-ipsum-dolor-container2 {
  top: 5042px;
  left: 1207px;
}
.lorem-ipsum-dolor-container2 {
  left: 690px;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 106px;
  background-color: var(--color-darkslategray);
  width: 1728px;
  height: 548px;
}
.frame-child5 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
  opacity: 0.2;
}
.manish-malhotra-all4 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 20px;
  display: inline-block;
  width: 302px;
  height: 17px;
  flex-shrink: 0;
  opacity: 0.5;
}
.vector-parent2 {
  position: absolute;
  top: 453px;
  left: 0;
  width: 1922px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-2xs);
}
.company4 {
  font-weight: 600;
}
.about-us11,
.company4 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-us-parent2,
.company-parent2,
.legal-parent2,
.need-help-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent2 {
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--color);
}
.company-parent2,
.legal-parent2,
.need-help-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-21xl);
}
.legal-parent2,
.need-help-parent2 {
  top: 0.06px;
  left: 630.45px;
}
.need-help-parent2 {
  left: 282.45px;
}
.frame-parent2,
.group-child10 {
  position: absolute;
  top: 0.06px;
  left: 1364px;
}
.frame-parent2 {
  top: 109px;
  left: 266px;
  width: 1611px;
  height: 233px;
}
.enter-your-email4 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 180px;
  height: 14px;
  flex-shrink: 0;
}
.carbonlocation-filled-icon4 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-email-address-parent2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper8 {
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 256px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.frame-wrapper7,
.newsletter-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-parent2 {
  gap: var(--gap-21xl);
}
.frame-wrapper7 {
  position: absolute;
  top: 109px;
  left: 1338px;
}
.furniture9 {
  position: relative;
  font-size: 12.41px;
  letter-spacing: 1.65px;
  font-weight: 500;
  display: inline-block;
  width: 75px;
  height: 9px;
  flex-shrink: 0;
  opacity: 0.85;
  mix-blend-mode: normal;
}
.iconmapsplace-24px-parent7 {
  position: absolute;
  width: 6.05%;
  top: calc(50% + 107.36px);
  right: 24.34%;
  left: 69.6%;
  border-radius: 29.79px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: 8.274949073791504px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 9.93px;
  font-size: 9.93px;
}
.group-child11 {
  position: absolute;
  top: 381px;
  left: 1470.4px;
  width: 203.39px;
  height: 32.16px;
}
.rectangle-parent3 {
  position: absolute;
  top: 5451px;
  left: -106px;
  width: 1922px;
  height: 548px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--white);
}
.group-icon5,
.group-icon6,
.group-icon7 {
  position: absolute;
  height: 2.21%;
  width: 7.64%;
  top: 37.91%;
  right: 35.88%;
  bottom: 59.88%;
  left: 56.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon6,
.group-icon7 {
  right: 15.34%;
  left: 77.03%;
}
.group-icon7 {
  right: 76.97%;
  left: 15.39%;
}
.macbook-pro-16-1-child28 {
  position: absolute;
  top: 5279px;
  left: 802px;
  border-radius: 50%;
  background-color: var(--color-darkslategray);
  width: 16px;
  height: 16px;
}
.macbook-pro-16-1-child29,
.macbook-pro-16-1-child30,
.macbook-pro-16-1-child31,
.macbook-pro-16-1-child32 {
  position: absolute;
  top: 5279px;
  left: 834px;
  border-radius: 50%;
  background-color: var(--color-silver);
  border: 2.3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.macbook-pro-16-1-child30,
.macbook-pro-16-1-child31,
.macbook-pro-16-1-child32 {
  left: 866px;
}
.macbook-pro-16-1-child31,
.macbook-pro-16-1-child32 {
  left: 898px;
}
.macbook-pro-16-1-child32 {
  left: 930px;
}
.user-account-people-man {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 0.38%;
  width: 1.16%;
  top: 1.99%;
  right: 5.9%;
  bottom: 97.63%;
  left: 92.94%;
}
.macbook-pro-16-1-child33,
.rectangle-icon {
  position: absolute;
  top: 2963px;
  left: 63px;
  width: 191px;
  height: 639px;
  object-fit: cover;
}
.macbook-pro-16-1-child33 {
  left: 870px;
}
.macbook-pro-16-1-child34,
.macbook-pro-16-1-child35,
.macbook-pro-16-1-child36 {
  position: absolute;
  top: 2963px;
  left: 668px;
  width: 191px;
  height: 639px;
  object-fit: cover;
}
.macbook-pro-16-1-child35,
.macbook-pro-16-1-child36 {
  left: 467px;
  width: 190px;
}
.macbook-pro-16-1-child36 {
  left: 1475px;
  width: 191px;
}
.macbook-pro-16-1-child37,
.macbook-pro-16-1-child38,
.macbook-pro-16-1-child39 {
  position: absolute;
  top: 2963px;
  left: 1273px;
  width: 191px;
  height: 639px;
  object-fit: cover;
}
.macbook-pro-16-1-child38,
.macbook-pro-16-1-child39 {
  left: 1072px;
  width: 190px;
}
.macbook-pro-16-1-child39 {
  left: 265px;
  width: 191px;
}
.macbook-pro-16-1-child40,
.macbook-pro-16-1-child41,
.macbook-pro-16-1-child42 {
  position: absolute;
  top: 2963px;
  left: 63px;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(4px);
  width: 191px;
  height: 639px;
}
.macbook-pro-16-1-child41,
.macbook-pro-16-1-child42 {
  left: 265px;
  background-color: var(--color-peru-300);
}
.macbook-pro-16-1-child42 {
  left: 1274px;
  background-color: var(--color-gray-200);
}
.macbook-pro-16-1-child43,
.macbook-pro-16-1-child44,
.macbook-pro-16-1-child45,
.macbook-pro-16-1-child46,
.macbook-pro-16-1-child47 {
  position: absolute;
  top: 2963px;
  left: 1476px;
  background-color: var(--color-gray-200);
  backdrop-filter: blur(4px);
  width: 191px;
  height: 639px;
}
.macbook-pro-16-1-child44,
.macbook-pro-16-1-child45,
.macbook-pro-16-1-child46,
.macbook-pro-16-1-child47 {
  left: 870px;
}
.macbook-pro-16-1-child45,
.macbook-pro-16-1-child46,
.macbook-pro-16-1-child47 {
  left: 1072px;
}
.macbook-pro-16-1-child46,
.macbook-pro-16-1-child47 {
  left: 466px;
}
.macbook-pro-16-1-child47 {
  left: 668px;
}
.bathroom-vanity1,
.doors,
.kitchen-cabinets1,
.railings,
.staircases,
.wall-panels1,
.wardrobe1,
.windows {
  position: absolute;
  top: 3368px;
  left: 116px;
  font-size: var(--font-size-21xl);
  line-height: 90px;
  color: var(--color-whitesmoke);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.bathroom-vanity1,
.doors,
.kitchen-cabinets1,
.railings,
.staircases,
.wall-panels1,
.wardrobe1 {
  top: 3378px;
  left: 1325px;
}
.bathroom-vanity1,
.doors,
.kitchen-cabinets1,
.railings,
.staircases,
.wall-panels1 {
  top: 3446px;
  left: 1125px;
}
.bathroom-vanity1,
.doors,
.railings,
.staircases,
.wall-panels1 {
  top: 3444px;
  left: 919px;
}
.doors,
.railings,
.staircases,
.wall-panels1 {
  top: 3360px;
  left: 724px;
}
.doors,
.staircases,
.wall-panels1 {
  top: 3380px;
  left: 519px;
}
.doors,
.wall-panels1 {
  top: 3339px;
  left: 318px;
}
.wall-panels1 {
  top: 3395px;
  left: 1534px;
}
.d22cc6e8994527da0de071368a453b-icon,
.d22cc6e8994527da0de071368a453b-icon1,
.d22cc6e8994527da0de071368a453b-icon2 {
  position: absolute;
  top: 1346px;
  left: 633px;
  border-radius: var(--br-11xl);
  width: 462px;
  height: 466px;
  object-fit: cover;
}
.d22cc6e8994527da0de071368a453b-icon1,
.d22cc6e8994527da0de071368a453b-icon2 {
  left: 101px;
}
.d22cc6e8994527da0de071368a453b-icon2 {
  left: 1165px;
}
.macbook-pro-16-1-child48 {
  position: absolute;
  top: 1895px;
  left: 258px;
  border-radius: 18.26px;
  background-color: var(--color-peru-200);
  border: 1.8px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 147.3px;
  height: 42px;
}
.shop-now2 {
  position: absolute;
  top: 1911.43px;
  left: 289.04px;
  font-size: 14.61px;
  display: inline-block;
  color: var(--color-whitesmoke);
  text-align: left;
  width: 85.83px;
  height: 9.13px;
}
.macbook-pro-16-1-child49 {
  position: absolute;
  top: 1895px;
  left: 1323px;
  border-radius: 18.26px;
  background-color: var(--color-peru-200);
  border: 1.8px solid var(--color-antiquewhite-100);
  box-sizing: border-box;
  width: 147.3px;
  height: 42px;
}
.shop-now3 {
  position: absolute;
  top: 1911.43px;
  left: 1354.04px;
  font-size: 14.61px;
  display: inline-block;
  color: var(--color-whitesmoke);
  text-align: left;
  width: 85.83px;
  height: 9.13px;
}
.macbook-pro-16-1-child50 {
  position: absolute;
  top: 1895px;
  left: 790px;
  border-radius: 18.26px;
  background-color: var(--color-peru-200);
  border: 1.8px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 147.3px;
  height: 42px;
}
.shop-now4 {
  position: absolute;
  top: 1911.43px;
  left: 821.04px;
  font-size: 14.61px;
  display: inline-block;
  text-align: left;
  width: 85.83px;
  height: 9.13px;
}
.explore-our-most,
.prices-youve-never,
.summer-collection-2023 {
  position: absolute;
  top: 1844px;
  line-height: 27px;
  display: inline-block;
}
.summer-collection-2023 {
  left: 171px;
  color: var(--color-whitesmoke);
  width: 323px;
}
.explore-our-most,
.prices-youve-never {
  left: 674px;
  width: 381px;
}
.explore-our-most {
  left: 1174px;
  color: var(--color-whitesmoke);
  width: 444px;
}
.macbook-pro-16-1 {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 5985px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-josefin-sans);
}
